*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}



.span-1{
  position: relative;
  bottom: 23px;
}

.img-5{
  width: 800px;
  height: 467px;
}

.span-2{
  position: relative;
  bottom: 24px;
}

/* .carddssdsdsdssd-1{
  position: relative;
  left: 600px;
  bottom: 550px;
}

.cardsssffddfqge-2{
  position: relative;
  left: 600px;
  bottom: 440px;
} */

.grafikadzayner-1{
  height: 350px;
}

.grafikadzayner{
  height: 1000px;
}

.h2-14{
  position: relative;
  top: 100px;
}

.girl{
  position: relative;
  top: 20px;
}

.h2-17{
  position: relative;
  top: 20px;
  left: 50px;
}

.buttonwww-1{
  position: relative;
  bottom: 30px;
  right: 2px;
  border-radius: 6px;
}

.imghhh-1{
  position: relative;
  left: px;
}

.buttonwww-2{
  position: relative;
  bottom: 30px;
  border-radius: 6px;
  right: 2px;
}

.h2-25{
  position: relative;
  top: 50px;
}

.cardgray-1{
  height: 500px;
}

.img-8{
  position: relative;
  top: 20px;
}

.h2-49{
  position: relative;
  top: 30px;
}

.smallcardimg-1{
  position: relative;
  left: 55px;
  bottom: 70px;
}

.smallcard-2{
  position: relative;
  left: 220px;
  bottom: 50px;
}

.smallcard-3{
  position: relative;
  left: 620px;
  bottom: 425px;
}

.allcardfather{
  position: relative;
  height: 800px;
}

.thepraectend{
  height: 500px;
}

.h2-52{
  position: relative;
  top: 200px;
}